body {
    overflow-x: hidden;
}

.nav-underline {
    position: sticky;
    top: 60px;
    z-index: 10;
    background: #333333;
    justify-content: center;    
}

.nav-underline a {
    color: #fff;
    font-size: 13px;
}

.nav-link.active {
    color: #f4a833;
}

.containerIgac {
    max-width: 1170px;
    margin: auto;
    padding: 0;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.iframe {
    width: 100%;
}

.resourses-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #000;
    opacity: 0.7;
}

.resourses-title h2 {
    width: 100%;
}
/*botones*/
.btn-group {
    display: flex;
    justify-content: center;
}
.btn-default {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #606060b0;
    color: #606060;
    width: 100%;
}
/*titulos*/
.section .title {
    font-size: 35px;
    margin-bottom: 40px;
    width: 100%;
    opacity: 0.8;
    color: #000;
}

/*banners de call to action*/

.faqs {
    width: 100%;
    margin: auto;
    background: #282359;
    padding: 65px 0;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    border-bottom: 5px solid #5045b1;
    position: relative;
}

.faqs .title {
    font-size: 26px;
    color: #fff;
    opacity: 1;
}

.faqs .resume {
    color: #fff;
    opacity: 0.6;
    width: 600px;
    margin: auto;
    margin-top: 18px;
    font-size: 14px;
    line-height: 16px;
}

.faqs .boton-faqs {
    margin-top: 30px;
}

.boton-faqs {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.boton-faqs a {
    font-size: 14px;
    background-color: #3595e0;
    color: #fff;
    border-radius: 5px;
    padding: 11px 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.faqs .title {
    font-size: 26px;
    color: #fff;
    opacity: 1;
}


/*banners de segundo tipo*/
.faqs.type2 {
    background-color: #6445e1;
    position: relative;
}

.faqs.type2:before {
    content: '';
    background-image: url('/images/images-redes/grafica-de-mano.svg');
    width: 214px;
    height: 175px;
    position: absolute;
    right: 35px;
    bottom: 0;
}

/*banners dobles*/
.dobles.faqs {
    height: 265px;
    display: flex;
    align-items: center;
}

.dobles.faqs .title {
    font-size: 26px;
    color: #fff;
    opacity: 1;
    margin-bottom: 0;
}

.dobles.faqs.tipo-a {
    background-image: url('/images/images-redes/background-card1.svg');
    background-size: cover;
}

.dobles.faqs.tipo-b {
    background-image: url('/images/images-redes/background-card2.svg');
    background-size: cover;
}
/*tablas*/

table {
    margin: auto;
    margin-top: 30px;    
}

tbody tr:nth-child(odd) {
    background-color: #86868624;
}

thead th {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
    text-align: center;
    font-size: 16px;
}

tbody td {
    padding: 10px 18px;
    text-align: center;
    font-size: 14px;
}

.lead {
    line-height: normal;
}

li {
    list-style: decimal;
}

.row.container-cards {
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*slider*/
.carousel-control-prev {
    position: absolute;
    left: -10%;
}
.carousel-control-prev-icon {
    width: 15px;
    background-image: url('/images/images-inicio/arrow.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    display: block;
    transform: rotate(180deg);
}

.carousel-control-next {
    position: absolute;
    right: -10%;
    width: ;
}
.carousel-control-next-icon {
    width: 15px;
    background-image: url('/images/images-inicio/arrow.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    display: block;
}

/*tarjetas sección que estas buscando*/

.row.container-cards .title {
    padding: 0 5px;
}

.card-container {
    padding: 0 5px;
}

.card.card-content {
    height: 360px;
    border-radius: 20px;
    background-color: #EAEFF2;
    border: 0;
    border-bottom: 5px solid #d2d8db;
    cursor: pointer;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.card.card-content:hover {
    background: #fff8e8;
    transition: 1s ease;
}

.card.card-content img {
    width: 212px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.card.card-content p {
    font-size: 25px;
    color: #3c3c3b;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}

.card .card-header {
    border-radius: 5px 5px 0 0;
    border: 0;
    
}

.card.blue .card-header {
    background-color: #183f80;    
}

.card.blue {
    color: #183f80;
}

.card.orange .card-header {
    background-color: #cc5809;
    color: #cc5809;
}

.card.orange {
    color: #cc5809;
}

.card.purple .card-header {
    background-color: #6445e1;    
}

.card.purple {
    color: #6445e1;
}

.card h5{
    font-size: 13px;
}

.card h6 {
    font-size: 16px;
    height: 16px;
    color: #000;
    opacity: 0.7;
    line-height: normal;
}

.card .card-text {
    line-height: normal;
}

.card .card-text {
    font-size: 14px;
    color: #000;
    opacity: 0.7;
}

/*cards sin borden*/
.card-no-border {
    cursor: pointer;
}
.card-no-border img {
    width: 85px;
    margin: auto;
    margin-bottom: 30px;
}

.card-no-border h2 {
    font-size: 23px;
    color: #414042;
}

.card-no-border .text-center {
    padding: 0 40px;
}